html lang="en">
    <%- include('./partials/Head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="Animals content">
            <form action="/animals" method="POST">
                <b>Animals: </b></br> 
            <% if (theAnimal.length > 0) { %>
                <% theAnimal.forEach(animals => { %>
                    <br><%= animals.Name %> <%= animals.Age %> <%=animals.Species_Name%></br>
                    
                    <% }) %>
            <% } %>
        </br><label>Add Animal:</label></br>
        <label>Name:
            <input type="text" id="name" name="name" value="<%= locals.name %>" required>
        </label>
        <label>Age:
            <input type="text" id="age" name="age" value="<%= locals.age %>" required>
        </label>
        <label>Species Name:
            <input type="text" id="species_Name" name="speciesName" value="<%= locals.speciesName %>" required>
        </label>
        <button>POST</button>
        </form>
        </div>
    </body>
    <%- include('./partials/Footer.ejs') %>
</html>