<html lang="en">
    <%- include('./partials/Head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
       
        <div class="create content">
            <form action="/animals/<%= locals.theId %>?_method=PATCH" method="POST">
                <label>Edit Animal:</br>
                    <input type="text" name="name" value="<%= locals.name %>" required>
                    <input type="text" name="age" value="<%= locals.age %>" required>
                </label></br>
                <button>PATCH</button>
            </form>
        </div>
        
    </body>

</html>