 <%- include('./partials/Head.ejs') %>
 <div class ="mainBox">
    <body>
        <div class="displayBox">
        <%- include('./partials/nav.ejs') %>
        
            <form action="/animals" method="POST">
                <b><h2>Animals: </h2></b></br> 
            <% if (theAnimal.length > 0) { %>
                <% theAnimal.forEach(animals => { %>
                    <br><h3>Name: <%= animals.Name %></h3>
                    <br>Age: <%= animals.Age %> Species: <%=animals.Species_Name%></br>
                    <a href="/animals/<%=animals.Animal_ID%>/edit?name=<%=animals.Name%>&age=<%=animals.Age%>">edit</a>
                    <a href="/animals/<%=animals.Animal_ID%>/replace?name=<%=animals.Name%>&age=<%=animals.Age%>&specieName=<%=animals.Species_Name%>">Replace</a>
                    <a href="/animals/<%=animals.Animal_ID%>/delete?name=<%=animals.Name%>&age=<%=animals.Age%>&specieName=<%=animals.Species_Name%>">Delete</a>

                    <br>
                    <% }) %>
            <% } %>
        </br>
        
            <label>Add Animal:</label></br>
            <div class = "createLabel">
        <label>Name:
            <input type="text" id="name" name="name" value="<%= locals.name %>" required>
        </label>
        <label>Age:
            <input type="text" id="age" name="age" value="<%= locals.age %>" required>
        </label>
        <label>Species Name:
            <input type="text" id="species_Name" name="speciesName" value="<%= locals.speciesName %>" required>
        </label>
    </div>
        <button>POST</button>
        </form>
    
    </body>
    <%- include('./partials/Footer.ejs') %>
</div>
</div>
</html>