<html lang="en">
    <%- include('./partials/head.ejs') %>
    <div class = mainBox>
        <div class = displayBox>
    <body>
        <%- include('./partials/nav.ejs') %>
        <br>
        <div class="create content">
            <form action="/caretakers/<%= locals.theId %>?_method=DELETE" method="POST">
                <label>Are You Sure You Want to Delete This Caretaker?</br>
                    <br>
                    <div class = deleteBoxSize>
                    <input type="text" id="<%= locals.theId %>" name="scientificName" value="<%= locals.firstName %> <%= locals.lastName %> <%= locals.age %> <%= locals.email %>" readonly>
                </div>
                </label>
                <br>
                <br>
                <button>DELETE</button>
            </form>
        </div>
    </body>
    <%- include('./partials/Footer.ejs') %>
</div>
</div>
</html>