<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <div class = mainBox>
            <div class = displayBox>
        <%- include('./partials/nav.ejs') %>
        <br>
        <div class="create content">
            <form action="/animals/<%= locals.theId %>?_method=DELETE" method="POST">
                <label>Are You Sure You Want to Delete This Animal?</br>
                    <br>
                    <div class = deleteBoxSize>
                    <input type="text" id="<%= locals.theId %>"  name="data" value="<%= locals.name %> <%= locals.age %> <%= locals.specieName %>" readonly>
                </div>
                </label>
                <br>
                <button>DELETE</button>
            </form>
        </div>
    </body>
    <%- include('./partials/Footer.ejs') %>
</div>
</div>
</html>