<html lang="en">
    <%- include('./partials/Head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
       
        <div class="create content">
            <form action="/species/<%= locals.theId %>?_method=PUT" method="POST">
                <label>Edit Animal:</br>
                    <input type="text" name="scientificName" value="<%= locals.scientificName %>" required>
                    <input type="text" name="caretakerID" value="<%= locals.CaretakerID %>" required>
                </label></br>
                <button>Put</button>
            </form>
        </div>
        
    </body>

</html>