<html lang="en">
    <%- include('./partials/Head.ejs') %>
    <body>
        <div class = mainBox>
            <div class = displayBox>
        <%- include('./partials/nav.ejs') %>
        <br>
       
        <div class="create content">
            <form action="/species/<%= locals.theId %>?_method=PUT" method="POST">
                <label>Replace Species:</br>
                    <br>
                    <label>Scientific Name<br><input type="text" name="scientificName" value="<%= locals.scientificName %>" required></label><br>
                    <br>
                    <label>Caretaker ID<br><input type="text" name="caretakerID" value="<%= locals.caretakerID %>" required></label><br>
                    
                </label></br>
                <button>Put</button>
            </form>
        </div>
        <%- include('./partials/Footer.ejs') %>
    </div>
    </div>
    </body>

</html>